.table-pading {
    padding: 10px 0px;
}

.action-buton-margin{
    margin: 3px;
}

.text-align{
    text-align: center;
}

.file-class {
    position: absolute;
    // font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }

