<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{ headingText | translate }}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Javascript:void(0)" [routerLink]="dashboardUrl">{{ 'Dashboard' | translate }}</a>
            </li>
            <li class="breadcrumb-item active" *ngFor="let heading of breadcrumb;let  last=last">
                <span *ngIf="last">{{heading.text}}</span>
                <span *ngIf="!last"><a href="Javascript:void(0)" [routerLink]="heading.path">{{heading.text}}</a></span>
            </li>
        </ol>
    </div>
</div>
