<div [@routerTransition]>
    <app-page-header [breadcrumb]="BREADCRUMB" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-xl-4">
            <div class="input-group pull-left">
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="User Id" name="search">               
            </div>
        </div>
        <div class="col-xl-6">
            <div ngbDropdown class="d-inline-block dropdown pull-right">
                <button class="btn btn-outline-primary" ngbDropdownToggle>User Upload/Download</button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item">
                    <input type="file" #userUpload class="file-class" name="file" (change)="handleFileInput($event.target.files);" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    Upload User
                    </button>
                    <button class="dropdown-item" (click)="downloadUserTemplate()">Download User Template</button>                    
                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <a href="javascript:void(0)" placement="top" ngbTooltip="Create User"  style="margin-left: 10px;"
                routerLink="/core/user-creation/-1" class="btn btn-primary pull-right">
               Create User
            </a>
        </div>       
    </div>
    <div class="row">
       <div class="col col-xl-12 col-lg-12">
          <div class="card-body table-responsive table-pading">
             <table class="table table-bordered table-striped">
                <thead>
                   <tr>
                      <th>#</th>
                      <th>Login Id</th>
                      <th>Name</th>                      
                      <th>Assigned Role</th>
                      <th class="text-align">Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let user of (userList | searchByName: searchText: 'userCode');let  index=index">
                      <th>{{index+1}}</th>
                      <td>{{user.userCode}}</td>
                      <td>{{user.firstname}} {{user.lastname}}</td>                      
                      <td>{{user.roleListStr}}</td>
                      <td class="text-align">
                         <a href="javascript:void(0)" routerLink="/core/user-creation/{{user.user_id}}" placement="top" ngbTooltip="Edit User" class="btn btn-primary btn-sm"><i class="fa fa-pencil fa-fw"></i></a>
                         <a href="javascript:void(0)" (click)="open(content, user.user_id); buildForm()" placement="top" ngbTooltip="Reset Password" class="btn btn-primary btn-sm action-buton-margin"><i class="fa fa-key"></i></a>
                         <!-- <a href="javascript:void(0)" (click)="deleteUser()" placement="top" ngbTooltip="Delete User" class="btn btn-danger btn-sm action-buton-margin"><i class="fa fa-trash-o fa-fw"></i></a> -->
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
    <ng-template #content let-modal>
       <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Forgot password</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form role="form" [formGroup]="resetPasswordsForm" novalidat>
             <div class="row">
                <div class="col-xl-12 text-xs-center">
                   <fieldset class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" formControlName="password">
                      <div class="has-error" *ngIf="resetPasswordsForm.controls.password.errors && (resetPasswordsForm.controls.password.dirty 	|| resetPasswordsForm.controls.password.touched)">
                         <p *ngIf="resetPasswordsForm.controls.password.errors.required">Password is required</p>
                         <p *ngIf="resetPasswordsForm.controls.password.errors.minlength">Minimum length 8</p>
                      </div>
                   </fieldset>
                </div>
                <div class="col-xl-12 text-xs-center">
                   <fieldset class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" class="form-control" formControlName="cPassword" (keyup)="onBlurCPassword()" (blur)="resetPasswordsForm.value.password != resetPasswordsForm.value.cPassword ? isPasswordMatchOnBlur = false : isPasswordMatchOnBlur = true">
                      <div class="has-error" *ngIf="resetPasswordsForm.controls.cPassword.errors && (resetPasswordsForm.controls.cPassword.dirty 	|| resetPasswordsForm.controls.cPassword.touched)">
                         <p *ngIf="resetPasswordsForm.controls.cPassword.errors.required">Confirm Password is required</p>
                         <p *ngIf="resetPasswordsForm.controls.cPassword.errors.minlength">Minimum length 8</p>
                      </div>
                      <div class="has-error" *ngIf="!isPasswordMatchOnBlur">
                         <p>Password Mismatch</p>
                      </div>
                   </fieldset>
                </div>
             </div>
          </form>
       </div>
       <div class="modal-footer">
          <button type="button" [disabled]="resetPasswordsForm.invalid || !isPasswordMatch" class="btn btn-outline-primary" (click)="modal.close('reset')">Reset Password</button>
       </div>
    </ng-template>
    <ng-template #errorModal let-modal>
       <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Alert</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <ul [innerHtml]="errMsg"></ul>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="modal.close('reset')">Ok</button>
       </div>
    </ng-template>
</div>